<h3>{{ leyenda }}</h3>
<div class="input-group">
    <input #txtProgress name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" type="number" min="1" max="100" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
        <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(5)"><i class="mdi mdi-plus"></i></button>
    </div>
</div>